@import "_partials/common.css";
@import "_partials/reset.css";
@import "_partials/typho.css";
@import "_partials/debug.css";

/*
-----------
!PALETTE
----------- 
*/
:root {
  --blue: rgb(0, 132, 253);
  --light-blue: rgb(181, 221, 255);
  --purple: rgb(151, 146, 228);
  --yellow: rgb(253, 193, 95);
  --black: rgb(51, 51, 51);
}

/*
-----------
!HEADER
----------- 
*/
header {
  background-color: var(--blue);
  color: white;
}
header nav {
  justify-content: space-between;
  padding: 0.9375rem 0;
  align-items: center;
}
nav ul {
  gap: 1.875rem;
  align-items: center;
}

/*
-----------
!MAIN
----------- 
*/
main > section:nth-child(even) {
  background-color: var(--purple);
}
section {
  padding: 3.125rem 0 6.25rem 0;
}
.grid-element {
  padding: 20px;
  border-radius: 15px;
}
/* ?PRIMA SEZIONE */
.grid .demo {
  width: calc((100% / 3 - 0.9375rem) * 2);
  position: relative;
  padding-bottom: 0;
}
.grid .demo img {
  width: 250px;
  position: absolute;
  right: 50px;
  bottom: 0;
}
/* ?SECONDA SEZIONE*/
.second-section {
  justify-content: center;
  align-items: flex-end;
}
.second-section .strategic-planning {
  width: 500px;
  padding-top: 50px;
}
.second-section .app-developement {
  width: 350px;
  background-color: white;
  padding: 1.25rem 2.5rem;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.second-section .strategic-planning img,
.second-section .app-developement img {
  width: 75%;
}
/* ?TERZA SEZIONE */
.partner {
  width: 100%;
  background-color: var(--purple);
  align-items: center;
  justify-content: center;
  padding: 1.875rem 2.5rem;
  border-radius: 45px;
}
.partner img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
/* ?QUINTA SEZIONE */
.fifth-section {
  justify-content: center;
}

/*
-----------
!FOOTER
----------- 
*/
footer {
  background-color: var(--black);
  padding: 1.25rem 0;
}

/*
-----------
!RESPONSIVE
----------- 
*/
/* ?TABLET - da 0 a 992px */
@media screen and (max-width: 991px) {
  /* *common */
  .container {
    max-width: 960px;
  }
  .only-desktop {
    display: none;
  }
  .only-tablet {
    display: block;
  }
  .tablet-padding {
    padding: 3.125rem 1.25rem;
  }
  /* *prima sezione */
  .grid .demo {
    position: static;
  }
  .grid .demo img {
    position: static;
  }
  .first-section .demo p {
    width: 100%;
  }
  .first-section .demo .btn {
    margin-bottom: 30px;
  }
  /* *seconda sezione */
  .second-section {
    flex-wrap: wrap;
    padding: 3.125rem 1.25rem;
  }
  .second-section .strategic-planning,
  .second-section .app-developement {
    width: 100%;
  }
  .second-section .strategic-planning img,
  .second-section .app-developement img {
    width: 100%;
  }
  .second-section .strategic-planning p {
    margin-bottom: 1.875rem;
  }
  /* *quarta sezione */
  .fourth-section .grid-element {
    width: calc(100% / 2 - 1.875rem);
  }
}

/* ?MOBILE - da 0 a 768px */
@media screen and (max-width: 767px) {
  /* *common */
  .container {
    max-width: 720px;
  }
  .grid .grid-element,
  .grid .demo {
    width: 100%;
  }

  /* *terza sezione */
  .partner {
    flex-direction: column;
    text-align: center;
  }
  .partner img {
    margin-bottom: 50px;
  }

  /* *quarta sezione */
  .fourth-section .grid-element {
    width: 100%;
  }

  /* *quinta sezione */
  .fifth-section {
    flex-wrap: wrap;
  }
  .about-us,
  .linkedim {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .container {
    width: 100%;
  }
}
