/*
-----------
!COMMON
----------- 
*/
/* .container {
  background-color: bisque;
} */
/*
-----------
!HEADER
----------- 
*/
.logo {
  height: 40px;
  width: 70px;
  border: 2px dotted black;
  background-color: purple;
}
nav ul {
  gap: 35px;
}
nav ul li {
  height: 40px;
  width: 40px;
  border: 2px dotted black;
  background-color: tomato;
}
.hamburger {
  height: 40px;
  width: 40px;
  border: 2px dotted black;
  background-color: saddlebrown;
}

/*
-----------
!MAIN
----------- 
*/
/* *prima sezione */
.grid-element {
  background-color: var(--light-blue);
  height: 300px;
  border: 2px dotted black;
}
/* *seconda sezione */
.strategic-planning {
  border: 2px dotted black;
  height: 600px;
  background-color: lightcoral;
  width: 500px;
}
.app-developement {
  border: 2px dotted black;
  height: 400px;
  background-color: lightseagreen;
  width: 500px;
}
/* *terza sezione */
.partner {
  border: 2px dotted black;
  height: 200px;
}
.partner .partner-img {
  border: 2px dotted black;
  width: 100px;
  height: 80px;
}
