/* ?common */
body {
  font-family: "Open Sans", sans-serif;
}
h1 {
  font-size: 4.5rem;
  color: var(--purple);
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 1.5rem;
}
p {
  line-height: 1.875rem;
}

.sixth-section p,
footer p {
  white-space: pre;
}

/* ?header */
nav .hamburger i {
  font-size: 1.5625rem;
}

/* ?main */
/* *prima sezione */
.first-section p {
  color: rgb(90, 110, 127);
  font-weight: bold;
}
.first-section .grid-element {
  background-color: var(--light-blue);
}
.first-section i,
.first-section h3 {
  color: var(--blue);
}
.first-section i {
  font-size: 5rem;
}
.btn2 .fa-apple {
  color: white;
  font-size: 1.25rem;
  margin-right: 0.625rem;
}

.first-section .demo p {
  width: 50%;
}
/* *seconda sezione */
.second-section .strategic-planning {
  color: white;
}
.second-section .strategic-planning h3 {
  font-size: 2.125rem;
}
.second-section .strategic-planning p {
  padding-right: 3.75rem;
}
.second-section .app-developement h3 {
  font-size: 1.5rem;
}
.second-section .app-developement p {
  font-size: 1.125rem;
}
.second-section .app-developement .btn3 i {
  font-size: 1.25rem;
  font-weight: bold;
}
/* *terza sezione */
.third-section p {
  font-size: 1.25rem;
}
.third-section h2 {
  color: var(--purple);
}
.partner .partner-text {
  padding: 0 40px 0 80px;
  color: white;
}
/* *quarta sezione */
.fourth-section h2 {
  color: white;
}
.fourth-section .grid-element h3 {
  color: var(--purple);
}
.fourth-section .grid-element p {
  color: rgb(115, 115, 115);
}
/* *quinta sezione */
.fifth-section .about-us p {
  font-size: 1.25rem;
  line-height: 2.8125rem;
}
.fifth-section .linkedim p {
  font-size: 1.875rem;
  line-height: 2.5rem;
  color: var(--purple);
}
.fifth-section .linkedim a {
  text-decoration: none;
  color: white;
}
.fifth-section .linkedim button i {
  margin-right: 7px;
}
/* *sesta sezione */
.sixth-section {
  color: white;
}
.sixth-section .free {
  font-size: 6rem;
  color: var(--yellow);
}
.sixth-section a {
  color: white;
}
